/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    /* 1rem = 16px */
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--dark-slate-grey);
    background-color: var(--charcoal-grey);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Root Variables */
:root {
    /* Primary */
    --tomato: hsl(4, 100%, 67%);

    /* Neutral */
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    /* Typography */
    --font-size-body: 16px;

    /* Responsive Layout Widths */
    --max-width-mobile: 375px;
    --max-width-desktop: 1440px;
}

/* Typography */
p {
    font-size: var(--font-size-body);
    color: var(--charcoal-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--dark-slate-grey);
    line-height: 1.2;
}

/* Layout */
.container {
    width: 100%;
    max-width: var(--max-width-desktop);
    margin: 0 auto;
    padding: 1rem;
}

/* Utility Classes */
.text-center {
    text-align: center;
}

/* Responsive */
@media (max-width: 1440px) {
    :root {
        font-size: 15px;
        /* Scale font size slightly for smaller screens */
    }
}

@media (max-width: 375px) {
    :root {
        font-size: 14px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
        color: hsl(228, 45%, 44%);
    }
}