/* Natural CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    /* 1rem = 16px */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: 'Space Mono', monospace;
    background-color: var(--background-light);
    color: var(--text-dark);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Root Variables */
:root {
    /* Light Mode Colors */
    --primary: #0079FF;
    --text-primary-light: #2B3442;
    --text-secondary-light: #4B6A9B;
    --text-muted-light: #697C9A;
    --background-light: #F6F8FF;
    --card-light: #FEFEFE;

    /* Dark Mode Colors */
    --text-white: #FFFFFF;
    --background-dark: #141D2F;
    --card-dark: #1E2A47;

    /* Typography */
    --font-family: 'Space Mono', monospace;
    --h1-size: 26px;
    --h1-line-height: 38px;
    --h2-size: 22px;
    --h2-line-height: 33px;
    --h3-size: 16px;
    --h3-line-height: 24px;
    --h4-size: 13px;
    --h4-line-height: 20px;
    --body-size: 15px;
    --body-line-height: 25px;

    /* States */
    --error: #F74646;
    /* Example error color for no results state */
}

/* Typography Styles */
h1 {
    font-size: var(--h1-size);
    line-height: var(--h1-line-height);
    font-weight: bold;
}

h2 {
    font-size: var(--h2-size);
    line-height: var(--h2-line-height);
    font-weight: bold;
}

h3 {
    font-size: var(--h3-size);
    line-height: var(--h3-line-height);
    font-weight: normal;
}

h4 {
    font-size: var(--h4-size);
    line-height: var(--h4-line-height);
    font-weight: normal;
}

body {
    font-size: var(--body-size);
    line-height: var(--body-line-height);
}

/* Interactive Elements */
input[type="text"],
button {
    font-family: var(--font-family);
}

input::placeholder {
    color: var(--text-muted-light);
}

.dark-mode {
    --background-light: var(--background-dark);
    --card-light: var(--card-dark);
    --text-primary-light: var(--text-white);
    --text-secondary-light: var(--text-white);
    --text-muted-light: var(--text-white);
}

/* States */
.error {
    color: var(--error);
    font-weight: 700;
    font-size: clamp(0.8125rem, 0.7768rem + 0.1786vw, 0.9375rem);
}

/* Utility */
.not-available {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-primary-light);

    a {
        color: var(--text-secondary-light);
    }
}

.container {
    width: 100%;
    max-width: 730px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .app {
        display: grid;
        padding: 31px 24px 0 24px;

        .header-controls {
            display: flex;
            justify-content: space-between;

            .logo {
                width: 128px;
                height: 39px;
            }

            .toggle {
                display: flex;
                align-items: center;
                gap: 1rem;

                :hover {
                    cursor: pointer;
                }

                .toggle-mode {
                    font-size: var(--h4-size);
                    font-weight: bold;
                    letter-spacing: 2.5px;
                    line-height: auto;
                    color: var(--text-secondary-light);
                }

                .toggle-icon {
                    max-width: 20px;
                    max-height: 20px;

                }
            }
        }

        .search-bar {
            display: flex;
            align-items: center;
            overflow: hidden;
            position: relative;
            width: 100%;
            background: var(--card-light);
            border-radius: 15px;
            box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
            padding-left: 16px;
            padding-top: 6.5px;
            padding-bottom: 7.5px;
            padding-right: 7px;
            margin-top: 36px;

            .search-icon {
                max-width: 20px;
                max-height: 20px;
                margin-right: 9px;
            }

            .search-input {
                width: 100%;
                border: none;
                outline: none;
                background: var(--card-light);
                font-size: clamp(0.5625rem, -0.892rem + 7.2727vw, 0.8125rem);
                line-height: var(--body-line-height);
                font-weight: 400;
                color: var(--text-secondary-light);
            }

            .search-button {
                background-color: var(--primary);
                color: var(--text-white);
                padding: 12.5px 18px;
                border-radius: 10px;
                font-size: clamp(0.875rem, 0.743rem + 0.5634vw, 1rem);
                line-height: 21px;
                font-weight: 700;
                text-align: center;
            }
        }

        .card {
            box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
            background: var(--card-light);
            border-radius: 15px;
            padding: 32px 24px 48px 24px;
            margin-top: clamp(1rem, 0.4718rem + 2.2535vw, 1.5rem);

            .profile-wrapper {
                display: flex;
                align-items: center;
                gap: 19px;

                .profile-image {
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;

                }

                .profile-head {

                    .profile-info {
                        display: grid;

                        .name {
                            color: var(--text-primary-light);
                            font-weight: bold;
                            font-size: clamp(1rem, 0.3398rem + 2.8169vw, 1.625rem);
                            line-height: var(--h3-line-height);
                        }

                        .login {
                            color: var(--primary);
                            font-weight: 400;
                            font-size: clamp(0.8125rem, 0.6144rem + 0.8451vw, 1rem);
                            line-height: var(--h4-line-height);
                            margin-bottom: 6px;
                        }

                        .date-joined {
                            color: var(--text-muted-light);
                            font-size: clamp(0.8125rem, 0.6805rem + 0.5634vw, 0.9375rem);
                            line-height: var(--h4-line-height);
                            font-weight: 400;
                        }
                    }
                }

            }


            .profile {
                display: grid;


                .profile-bio {
                    margin-top: clamp(2.0625rem, 2.9208rem + -3.662vw, 1.25rem);
                    color: var(--text-secondary-light);
                    font-weight: 400;
                    line-height: var(--body-line-height);
                    font-size: clamp(0.8125rem, 0.6805rem + 0.5634vw, 0.9375rem);
                }

                .profile-stats {
                    display: flex;
                    background-color: var(--background-light);
                    border-radius: 10px;
                    padding: 18px 15px 19px 15px;
                    justify-content: space-around;
                    margin-top: clamp(1.4375rem, 0.8433rem + 2.5352vw, 2rem);

                    .repositories-category,
                    .followers-category,
                    .following-category {
                        font-size: clamp(0.6875rem, 0.5555rem + 0.5634vw, 0.8125rem);
                        color: var(--text-secondary-light);
                        line-height: auto;
                        font-weight: 400;
                    }

                    .repositories-value,
                    .followers-value,
                    .following-value {
                        font-size: clamp(1rem, 0.6039rem + 1.6901vw, 1.375rem);
                        color: var(--text-primary-light);
                        text-align: center;
                        line-height: auto;
                        font-weight: bold;
                    }
                }

                .profile-socials {
                    display: grid;
                    gap: 1rem;
                    margin-top: clamp(1.5rem, 0.6417rem + 3.662vw, 2.3125rem);

                    .location {
                        display: flex;
                        gap: 19.25px;
                        align-items: center;

                        .location-icon {
                            width: 13.75px;
                            height: 20px;
                        }

                        .location-name {
                            font-size: clamp(0.8125rem, 0.6805rem + 0.5634vw, 0.9375rem);
                            color: var(--text-secondary-light);
                            line-height: var(--h4-line-height);
                            font-weight: 400;
                        }
                    }

                    .website {
                        display: flex;
                        gap: clamp(0.8125rem, 0.6144rem + 0.8451vw, 1rem);
                        align-items: center;

                        .website-icon {
                            width: 20px;
                            height: 20px;
                        }

                        .website-link {
                            font-size: clamp(0.8125rem, 0.6805rem + 0.5634vw, 0.9375rem);
                            color: var(--text-secondary-light);
                            font-weight: 400;
                            line-height: var(--h4-line-height);
                        }
                    }

                    .twitter {
                        display: flex;
                        gap: clamp(0.8125rem, 0.6144rem + 0.8451vw, 1rem);
                        align-items: center;

                        .twitter-icon {
                            width: 20px;
                            height: 18px;
                        }

                        .twitter-name {
                            font-size: clamp(0.8125rem, 0.6805rem + 0.5634vw, 0.9375rem);
                            color: var(--text-secondary-light);
                            line-height: var(--h4-line-height);
                            font-weight: 400;
                        }
                    }

                    .company {
                        display: flex;
                        gap: clamp(0.8125rem, 0.6144rem + 0.8451vw, 1rem);
                        align-items: center;

                        .company-icon {
                            width: 20px;
                            height: 20px;
                        }

                        .company-name {
                            font-size: clamp(0.8125rem, 0.6805rem + 0.5634vw, 0.9375rem);
                            color: var(--text-secondary-light);
                            line-height: var(--h4-line-height);
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }

    @media screen and (width > 570px) {
        .app {
            padding: 0;

            .search-bar {

                .search-input {
                    font-size: 1.125rem;
                }
            }

            .card {

                .profile-wrapper {
                    gap: 41px;

                    .profile-image {
                        width: 117px;
                        height: 117px;
                        border-radius: 100%;
                    }

                    .profile-head {
                        .profile-info {
                            gap: 4px;

                            .login {
                                margin-bottom: 0;
                            }

                        }
                    }
                }

                .profile {

                    .profile-stats {
                        justify-content: start;
                        padding: 15px 0px 17px 32px;

                        .repositories {
                            margin-right: 6.1875rem;

                            .repositories-value {
                                text-align: left;
                            }
                        }

                        .followers {
                            margin-right: 5.125rem;

                            .followers-value {
                                text-align: left;
                            }
                        }

                        .following {
                            .following-value {
                                text-align: left;
                            }
                        }
                    }

                    .profile-socials {
                        display: grid;
                        grid-template-columns: auto auto;

                        .location {
                            .location-name {
                                font-size: 15px;
                                line-height: 22px;
                            }
                        }

                        .website {
                            grid-row-start: 2;

                            .website-link {
                                font-size: 15px;
                                line-height: 22px;
                            }
                        }

                        .twitter {
                            .twitter-name {
                                font-size: 15px;
                                line-height: 22px;
                            }
                        }

                        .company {
                            .company-name {
                                font-size: 15px;
                                line-height: 22px;
                            }
                        }
                    }
                }

            }
        }
    }

    @media screen and (width > 727px) {

        .app {
            .card {
                padding: 44px 48px;

                .profile-wrapper {
                    display: block;
                    align-items: flex-start;


                    .profile-image {
                        position: absolute;
                    }

                    .profile-head {
                        margin-left: 9.625rem;

                        .profile-info {
                            grid-template-columns: auto auto;

                            .name,
                            .login {
                                grid-column: 1;
                                margin-right: auto;
                            }

                            .date-joined {
                                grid-row: 1;
                                grid-column: 2;
                                text-align: right;
                            }
                        }
                    }
                }

                .profile {
                    margin-left: 9.625rem;

                    .profile-bio {
                        margin-top: 20px;
                    }

                    /* .profile-stats {
                        margin-top: 32px;
                    } */
                }
            }
        }
    }
}