/* CSS Setup */

/* Custom properties (variables) */
:root {
    /* Colors */
    --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-desaturated-dark-blue: hsl(214, 17%, 51%);
    --color-grayish-blue: hsl(212, 23%, 69%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);
    --color-white: hsl(0, 100%, 100%);

    /* Typography */
    --font-family: 'Manrope', sans-serif;
    --font-size-base: 13px;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Breakpoints */
    --mobile: 375px;
    --desktop: 1440px;
}

/* Base styles */
html {
    font-size: var(--font-size-base);
    font-family: var(--font-family);
    line-height: 1.5;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    background-color: var(--color-light-grayish-blue);
    color: var(--color-very-dark-grayish-blue);
    margin: 0 !important;
    padding: 0;
}

/* Typography */
p,
div {
    overflow-wrap: break-word;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

#root,
#__next {
    isolation: isolate;
}

/* Responsive container */
.container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Breakpoints */
@media screen and (min-width: 320px) {
    html {
        font-size: calc(var(--font-size-base) * 0.9);
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: var(--font-size-base);

        .card {
            max-width: 327px;
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1320px;
    }
}

.card {
    margin-right: auto;
    margin-left: auto;
    background: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    .card__image {
        border-radius: 10px 10px 0px 0px;
    }

    .card__content {
        display: grid;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 20px;
        padding-top: 36px;

        .card__content--bold {
            font-weight: var(--font-weight-bold);
            font-style: normal;
            font-size: 16px;
            line-height: 24px;
            color: var(--color-very-dark-grayish-blue);
            font-family: var(--font-family);
            margin-bottom: 12px;
        }

        .card__content--medium {
            font-weight: var(--font-weight-medium);
            font-style: normal;
            line-height: 20px;
            letter-spacing: 0.121875px;
            color: var(--color-desaturated-dark-blue);
            font-family: var(--font-family);
            margin-bottom: 32px;
        }

        .content__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .profile {
                display: flex;
                align-items: center;
                gap: 16px;
                margin: 0;

                .profile__image {
                    border-radius: 100%;
                }

                .profile__name {
                    display: grid;
                    gap: 0;
                    margin: 0;

                    .name {
                        font-style: normal;
                        font-weight: var(--font-weight-bold);
                        font-size: var(--font-size-base);
                        line-height: 20px;
                        letter-spacing: 0.121875px;
                        color: var(--color-very-dark-grayish-blue);
                        font-family: var(--font-family);
                        margin: 0;
                    }

                    .date {
                        font-family: var(--font-family);
                        font-style: normal;
                        font-size: var(--font-size-base);
                        line-height: 20px;
                        letter-spacing: 0.121875px;
                        color: var(--color-grayish-blue);
                        margin: 0;
                    }
                }

            }

            .share__button {
                width: 32px;
                height: 32px;
                background: var(--color-light-grayish-blue);
                border-radius: 100%;
                margin: 0;
                z-index: 1;

                .icon {
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .share__button--active {
        display: flex;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 22px;
        padding-top: 22px;
        background-color: var(--color-very-dark-grayish-blue);
        border-radius: 0px 0px 10px 10px;

        /* in active state */
        position: absolute;
        width: 327px;
        bottom: 0px;
        /* need to look into using javascript to change the bottom padding from 22 to 30 */

        p {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: var(--font-weight-medium);
            font-size: var(--font-size-base);
            line-height: 20px;
            letter-spacing: 5px;
            color: var(--color-grayish-blue);
            margin-right: 21px;
        }

        .facebook {
            margin-right: 16px;
        }

        .twitter {
            margin-right: 16px;
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
        color: hsl(228, 45%, 44%);
    }
}